@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/
}

.menu a img {
  width: 200px;
  position: absolute;
  top: -72px;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu .navbar ul li a {
  font-size: 15px;
  padding: 20px;
  color: #000;
  display: block;
  font-weight: 700;

}

header {
  background-color: #116223;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  gap: 30px;
}

.header-txt {
  width: 50%;
}

.header-txt h1 {
  font-size: 70px;
  line-height: 85px;
  color: #fff;
  margin-bottom: 20px;
}

.header-txt span {
  font-size: 90px;
  color: #28a745;
}

.header-txt p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}

.header-img {
  width: 50%;
  text-align: center;
}

.header-img img {
  width: 550px;
}

.header-txt a {
  padding: 13px 20px;
  background-color: red;
  color: #fff;
  border-radius: 15px;
  width: 40%;
  margin-left: 30px;
  font-size: 16px;
  text-transform: capitalize;
}

.header-txt a:hover {
  background-color: rgb(217, 40, 40);
  color: #fff;
}

.menu-p1 {
  padding: 55px 0;
  margin-top: 20px;
}

.menu-p1 p {
  padding: 0 0 15px 0;
}

h2 {
  padding: 25px 0;
  font-size: 30px;
  color: #000;
}

span {
  color: #218838;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza {
  display: inline-block;
  border: 10px solid transparent;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  margin: 10px;
  flex: 1 0 21%;
}

.pizza-text {
  border-radius: 25px;

}

.pizza img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.pizza h3 {
  font-size: 18px;
  color: #000;
  padding: 13px;
}

.pizza p {
  font-size: 14px;
  padding: 0 25px 20px 25px;
}

.precio {
  padding: 0 25px 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.precio span {
  font-weight: 700;
  color: #000;
  font-size: 13px;
}

button {
  background-color: #2d5d2a;
  color: white;
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #218838;
}

.extra {
  padding: 70px 0;
  height: 631px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about {
  display: flex;
}

.about-card {
  display: flex;
  border: 10px solid transparent;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  margin: 10px;
}

.about-content {
  display: flex;
}

.about img, .confirmacion-card img {
  width: 50%;
  height: auto;
}

.about h2, .confirmacion-card h2 {
  font-size: 20px;
}

.about p,.confirmacion-card p {
  font-size: 13px;
  padding: 0 25px 20px 25px;
}

.pedido-card {
  padding: 56px;
  max-width: 815px;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 20px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.pedido-card p {
  margin: 15px 0;
}

.confirmacion {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmacion-card {
  margin: 0 30px;
}

footer {
  background-color: #343a40;
  color: white;
}

footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

footer .grupo-1 .box {
  text-align: center;
}

footer .grupo-1 .box img {
  width: 195px;
}

footer .grupo-1 .box h2 {
  color: #fff;
  font-size: 15px;
}

footer .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px;
  font-size: 12px;
}

footer .grupo-1 .link-footer a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}